.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  margin: 20px;
  padding: 10px;
}

.loginButton {
  border: 1px solid darkgrey;
  margin: 20px;
  padding: 10px;
}

.loginButton:hover {
  cursor: pointer;
}

.dashboard {
  display: flex;
  flex-direction: column;
}

/* .wordCloudContainer {
  height: 30vh;
  width: 30vw;
} */

.tag-cloud {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.tag-cloud > div {
	transition: 1.4s;
}

.tag-item-wrapper {
	cursor: pointer;
}

.tag-item-wrapper:hover {
	z-index: 100;
}

.tag-item-wrapper:hover .tag-item-tooltip {
	display: block;
}

.tag-item-tooltip {
	background: #c01916;
	color: white;
	margin-top: 5px;
  z-index: 100;
  display: none;
	padding: 15px;
	font-size: 14px;
	line-height: 1;
	position: absolute;
	min-width: 60px;
	left: 50%;
	transform: translateX(-50%);
  text-align: center;
}

.wordCloudContainer {
	align-items: center; 
	/* bottom: 0; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* left: 0; */
  padding: 20px 0;
  height: 40vh;
  width: 40vw;
	/* position: absolute; */
	/* right: 0;
	top: 0; */
}

.wordCloud {
	display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
	/* height: 30%;
	max-width: 1000px;
	width: 30%; */
}

/* body {
  font-family: sans-serif;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 text-rendering: optimizeLegibility;
 font-smooth: always;
  margin: 0;
  padding: 0;
} */

.message {
  height: 200px;
  width: 400px;
}

.sendButton {
  border: 1px solid darkgrey;
  margin: 20px;
  padding: 10px;
}
