.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  margin: 20px;
  padding: 10px;
}

.loginButton {
  border: 1px solid darkgrey;
  margin: 20px;
  padding: 10px;
}

.loginButton:hover {
  cursor: pointer;
}
